<div class="main_top">
  <div class="header_left">
    <div class="group_name">
      黒の組織
    </div>
  </div>
  <div class="header_right">
    <div class="close">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="main_middle">
  <div class="message">
    <div class="m_left">
      <div class="m_name">
        ウォッカ
      </div>
      <div class="m_text">
        ジンの兄貴
      </div>
    </div>
    <div class="m_right">
      <div class="date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
  </div>
  <div class="message">
    <div class="m_left">
      <div class="m_name">
        ウォッカ
      </div>
      <div class="m_text">
        ジンの兄貴
      </div>
    </div>
    <div class="m_right">
      <div class="date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
  </div>

</div>
<div class="main_form">
      <div class="f_input">
        <input type="text" placeholder="type a message" class="f_text">
        <label class="form_image">
          <span class="image_file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input type="submit" value="送信" class="f_send">
</div>
