<div class="side_top">
  <div class="side_name">
    江戸川コナン
  </div>
  <div class="side_edit">
    <a href="#" class="nav_edit">チャットを作成する</a>
  </div>

</div>
<div class="side_main">
  <div class="room_name">
    <a href="#" class="nav_room">おへや</a>
  </div>
