<div class="side_top">
  <div class="side_name">
    <a href="#">江戸川コナン</a>
  </div>
  <div class="side_edit">
    <a href="#">チャットを作成する</a>
  </div>

</div>
<div class="side_main">
  <div class="room">
    <div class="room_name">
      <a href="#">おへや</a>
    </div>
  </div>
</div>